body {
    font-family: museo-sans,sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #000;
    margin: 8px 8px 17px;
    line-height: 27.2px;
}

a:link {
    color: #000B83;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-rendering: geometricprecision;
    text-underline-offset: 3px;
}

a {
    position: relative;
    display: inline-block;
}

/* Box for translation text */
a[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -200%;
    left: 0;
    color: white;
    background-color: #3F3F3F;  /* black; */
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 100px;
    opacity: 100%;
}

h1 {
    color: #000000;
    margin: 11px 0px 0px;
    font-size: 27px;
}

h2 {
    color: #000B83;
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 19px;
    font-weight: 900;
    text-transform: uppercase;
}

img {
    width: 100%;
    margin: 0 auto;
}
